<p class="mb-1"><i class="fa-solid fa-brain" style="color: #0a58ca"></i> <strong> {{ ai_response.model }}</strong>
</p>
<div class="user-question row">
	<div class="col-auto">
		<i class="fa-regular fa-circle-user" style="font-size: 30px"></i>
	</div>
	<div class="col align-items-center d-flex">
		<h6 class="mb-0">{{ ai_response.question }}</h6>
	</div>
</div>
<div class="model-response row">
	<div class="col-auto">
		<i class="fa-solid fa-brain" style="font-size: 30px; color: #0d6efd"></i>
	</div>
	<div class="col align-items-center d-flex">
		<h6 class="mb-0">{{ ai_response.answer }}</h6>
	</div>
</div>